code {
	color: green;
	font-weight: bold;
}

h1 {
    text-align: center;
}

h4 {
    text-align: right;
}

h2 {
    text-align: center;
}

body {
    background-color: #F78181;
}

#cdiv {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    background-color: #D0A9F5;
}
